@model Library_NPR321.Models.ViewModels.BookVM

<h1>Додавання книги</h1>

<form method="post" asp-controller="Book" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Title" class="m-1">Назва</label>
        <input asp-for="Book.Title" class="form-control m-1" placeholder="Назва">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Description" class="m-1">Опис</label>
        <input asp-for="Book.Description" class="form-control m-1" placeholder="Опис">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Language" class="m-1">Мова</label>
        <input asp-for="Book.Language" class="form-control m-1" placeholder="Мова">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Genre" class="m-1">Жанр</label>
        <input asp-for="Book.Genre" class="form-control m-1" placeholder="Жанр">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.PageCount" class="m-1">К-сть сторінок</label>
        <input type="number" min="1" asp-for="Book.PageCount" class="form-control m-1" placeholder="К-сть сторінок">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Year" class="m-1">Рік випуску</label>
        <input type="number" min="1" asp-for="Book.Year" class="form-control m-1" placeholder="Рік випуску">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Publisher" class="m-1">Видавництво</label>
        <input asp-for="Book.Publisher" class="form-control m-1" placeholder="Видавництво">
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.AuthorId" class="m-1">Автор</label>
        <select asp-items="Model.ListItems" asp-for="Book.AuthorId" class="form-control m-1">
            <option disabled selected></option>
        </select>
    </div>
    <div class="form-group" style="width: 40%">
        <label asp-for="Book.Image" class="m-1">Обкладинка</label>
        <input type="file" class="form-control m-1" name="image">
    </div>
    <button type="submit" class="btn btn-primary m-2">Додати</button>
    <a asp-controller="Book" asp-action="Index" class="btn btn-secondary m-2">Назад</a>
</form>